@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

*{
    background-color: #2A2438;
    color: whitesmoke;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
}
button  {
    padding: 0.5rem;    
    background-color: #5C5470;
    border: 1px solid #5C5470;
    border-radius: 5px;
    margin: 2rem 0;
}
button:hover{
    border: 1px solid #dbd8e3;
    cursor: pointer;
}
p{
    padding: 2rem 0;
    font-size: 1.2rem;
    color: #fff;
    margin: 2rem 0;
}
